{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/sign_up.css' %}">
 





<body>
    <div class="square">
        <h1 class="header">CREATE USER</h1>
            <div class="form_box">    

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {{form.as_p}}
                    <input class="submit_button" type="submit" placeholder="Add User" value="CREATE">
            </form>
            <p>HAVE ACCOUNT? <a href='{% url 'login' %}'>LOGIN</a></p>
        </div>
    </div>
</body>